html, body 
  {margin: 0;
  padding: 0;
  /*padding-left: 100px;*/
  /*padding-right: 100px;*/
	font-family: 'Arial', sans-serif;
	font-weight: 100;
}

*{
margin: 0px;}

.header {       
  height: 800px;
  text-align: center; 
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}              */



.header .container {
	position: relative;  	
  top: 200px;}

.header h1 {
margin-top: 0;
color: white;} 


@media (min-width:850px) {
	.header h1 {
		font-size: 120px;} }

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
    color: white; }

.btn {
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background: #000000;
  position: relative;
  top: 20px;
  border-radius: 3px; }

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  }

.container {
  margin:  auto;
  max-width: 600px; 
  padding: 0 100px; }




.nav {
  background: black;
  color: white;
  margin-top: -16px;
  padding-left: 15%;  }

ul {
  /*background: #000;*/
  list-style-type: none; }

ul li {
  display: inline-block;
  padding: 15px;
  /*background: green;*/
  margin-left: -4px;
  transition: .1s;
  /*list-style-type: none;*/ }

ul li:hover {
  background: #379EEC;
  cursor: pointer; }

/* Main */
.main__text{


}

    h2{
    font-size: 24px;
    font-family: 'Epilogue', sans-serif;

}

.main img {
  float: left;
  width: 196px;
  height: 128px;
  margin: 50px 80px 50px 0; }


.main .container {
margin: 80px auto;
}






.jumbotron {
	height: 600px; 
	text-align: right;

  color: white;
    background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.jumbotron .btn {
		    margin: 10px 0 0;
    background: #379EEC;    
    float: right; }

.jumbotron .container {
	position: relative;
	top: 220px; }


/* Footer */
.footer { 
	font-size: 14px;
    background: black;
  color: white;
  height: 80px; }
.footer p {
      line-height: 80px;
    margin: 0; }





@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px; }

  .main, .jumbotron {
    padding: 0 30px; }

  .main img {
    width: 100%;}
  






















}